<form id="create-word-form" method="post" th:action="@{/words}" th:object="${word}">    
    <div class="modal-dialog container">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create Single Word</h4>
            </div>
            <div class="modal-body text-justify background3 container">
                <!-- Content is here -->
                <div style="display:none">
                    <input name="Type" type="text" value="word" />
                </div>
                <div class="form-group container center-block text-center">
                    <div class="col-xs-4 text-center">
                        <h4>Language code</h4>
                    </div>
                    <div class="col-xs-8 text-left">
                        <select th:field="*{LangCode}" autocomplete="off" class="form-control text-box single-line" data-val="true" data-val-required="The WContext field is required." id="WordDetail_WContext" style="margin-left: auto; margin-right: auto;" type="text" value="">
                            <option value="en">English</option>
                            <option value="fi">Suomi</option>
                        </select>
                    </div>
                </div>
                <div class="form-group container center-block text-center">
                    <div class="col-xs-4 text-center">
                        <h4>Word content</h4>
                    </div>
                    <div class="col-xs-8 text-left">
                        <input th:field="*{Content}" autocomplete="off" class="form-control text-box single-line" data-val="true" data-val-required="The WContext field is required." id="WordDetail_WContext" style="margin-left: auto; margin-right: auto;" type="text" value="" />
                        <span th:if="${#fields.hasErrors('Content')}" th:errors="*{Content}" class="field-validation-valid text-danger" data-valmsg-for="WordDetail.WContext" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group container center-block text-center">
                    <div class="col-xs-4 text-center"><h4>Pronounciation</h4></div>
                    <div class="col-xs-8 text-left">
                        <input th:field="*{Pronounce}" autocomplete="off" class="form-control text-box single-line" id="WordDetail_WPronounce" style="margin-left: auto; margin-right: auto;" type="text" value="" />
                        <span th:if="${#fields.hasErrors('Pronounce')}" th:errors="*{Pronounce}" class="field-validation-valid text-danger" data-valmsg-for="WordDetail.WPronounce" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <!--End of content-->
            </div>
            <div class="modal-footer">
                <button type="submit" value="" class="btn btn-primary">Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#create-word-form").submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: "/words",
                type: "POST",
                data: $('#create-word-form').serialize(),
                success: function (data) {
                    redirect_str="redirect:/";
                    
                    if (data.indexOf(redirect_str)==0) {
                        redirect_url=data.substring(redirect_str.length);
                        window.location=redirect_url;
                        console.log("hehee");
                    }else
                    {
                        $(".modalFrame").empty().append(data);
                    }
                }
            });
        });
    })
</script>