<html layout:decorator="layout">
    <div layout:fragment="content">
        <!--Content is here-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Words List</h2>
                </div>
            </div>
        </div>
        <hr />
        <div class="container" id="header2-flash-cards">
            <div class="col-sm-3 text-center margin-top-bottom">
                <div data-url="/words/createmultiple" class="btn btn-primary create-btn openModal"><span class="glyphicon glyphicon-plus"></span> Create Multiple Words</div>
            </div>
            <div class="col-sm-3 text-center margin-top-bottom">
                <div data-url="/words/createsingle" class="btn btn-primary create-btn openModal"><span class="glyphicon glyphicon-plus"></span> Create Word</div>
            </div>
            <div class="col-sm-3 text-center margin-top-bottom">
                <div data-url="/words/createphrase" class="btn btn-primary create-btn openModal"><span class="glyphicon glyphicon-plus"></span> Create Phrase</div>
            </div>
            <div class="col-sm-3 text-center margin-top-bottom">
                <span id="show-search-word-btn" onclick="showSearchWordsTab()" class="btn btn-default refresh-btn margin-btn"><span class="glyphicon glyphicon-search"></span> Find words</span>
                <span id="hide-search-word-btn" onclick="hideSearchWordsTab()" class="btn btn-danger margin-btn" style="opacity:0.8;display:none;"><span class="glyphicon glyphicon-menu-hamburger"></span> Hide search window</span>
            </div>
        </div>

        <div class="container center-block text-center">

            <table id="search-words-tab" class="form-inline text-center col-xs-12 background1" hidden="hidden" style="margin-top:20px;">
                <tr>
                    <td>
                        <div class="container" style="margin:10px;">
                            <div class="col-sm-5 margin-top-bottom"><h3 style="margin:0;">Search Words</h3></div>
                            <div class="col-sm-7 text-left margin-top-bottom">
                                <form id="searchWord">
                                    <span class="input-group" style="max-width: 400px;margin: 0;margin-left: auto; margin-right: auto;">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
                                        <input name="s_word" autocomplete="off" class="form-control" placeholder="Enter the word" style="min-width:300px; max-width:95%; padding-left:8%; padding-right:8%" type="text" maxlength="30" />
                                        <span class="btn input-group-addon refresh-btn" onclick="$('#searchWord').submit()"><span class="glyphicon glyphicon-search"></span> Search</span>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
<!--                <tr>
                    <td>
                        <div class="container" style="margin:10px;">
                            <div class="col-sm-5 margin-top-bottom"><h3 style="margin:0;">Search by date</h3></div>
                            <div class="col-sm-7 text-left margin-top-bottom">
                                <form id="searchDate">
                                    <span class="input-group date_picker" style="max-width: 400px;margin: 0;margin-left: auto; margin-right: auto;">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input name="s_date" autocomplete="off" class="form-control date_picker" placeholder="dd/mm/yyyy" style="min-width:300px; max-width:95%; padding-left:8%; padding-right:8%" type="text" />
                                        <span class="btn input-group-addon refresh-btn" onclick="$('#searchDate').submit()"><span class="glyphicon glyphicon-search"></span> Search</span>
                                    </span>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>      -->
            </table>
        </div>
        <div><hr /><br /></div>
        <div class="container">
            <div class="col-md-8 col-md-offset-2" style="background: linear-gradient(to bottom, #fff 60%, #f2f2f2 80%);">
                <!-- test -->
                <div class="container" role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab-words" aria-controls="tab-words" role="tab" data-toggle="tab">Words (<span th:text="${total_words}"></span>)</a></li>
                        <li role="presentation"><a href="#tab-phrases" aria-controls="profile" role="tab" data-toggle="tab">Phrases (0)</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Tab 1 Words -->
                        <div role="tabpanel" class="tab-pane fade in active" id="tab-words">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            Language
                                        </th>
                                        <th>
                                            Vocabulary
                                        </th>
                                        <th>Created</th>
                                        <th class="text-center">Edit word, add definitions</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="words_table_body">
                                    <!--Row template-->
                                    <tr class="word-row" th:each="word : ${words}">
                                        <td>
                                            <span class="text-info word-order"></span>
                                        </td>
                                        <td th:text="${word.LangCode}">
                                            word
                                        </td>
                                        <td th:text="${word.Content}">
                                            word
                                        </td>
                                        <td>
                                            <span style="font-size:smaller" th:text="${word.CreatedDate}">
                                                Created date
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            <a th:href="@{/words/{wordId}(wordId=${word.Id})}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-book"></span> edit details</a>
                                        </td>
                                        <td>
                                            <div th:attr="data-url=@{/words/delete/{wordId}(wordId=${word.Id})}" data-url="/words/201" class="btn btn-danger btn-xs openModal"><span class="glyphicon glyphicon-trash"></span> delete</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                        <!--Tab 2 Phrases-->
                        <div role="tabpanel" class="tab-pane fade" id="tab-phrases">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                            <th></th>
                            <th>
                                Phrase
                            </th>
                            <th>Created</th>
                            <th class="text-center">Edit phrase, add definitions</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <!--Disabled for now-->
<!--                                <tr>
                                    <td>
                                        <span class="text-info">1.</span>
                                    </td>
                                    <td>
                                        have (some) bearing on
                                    </td>
                                    <td>
                                        <span style="font-size:smaller">
                                            3/24/2015 3:06:19 PM
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <a href="/words/details/280" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-book"></span> edit details</a>
                                    </td>
                                    <td>
                                        <div data-url="/words/delete/280" class="btn btn-danger btn-xs openModal"><span class="glyphicon glyphicon-trash"></span> delete</div>
                                    </td>
                                </tr>-->
                                


                    </tbody></table>
                </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Modal-->
        <!--    POPUP MODAL    -->
        <div class="modal fade modalFrame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Opening model ...</h4>
                    </div>
                    <div id="bodyEditModal">
                        <div class="modal-body text-justify">
                            <!-- Content is here -->
                            <div class="container text-center">
                                <h4 style="margin-top:30px; margin-bottom:30px;"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h4>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of modal-->
    </div>
</html>